html {
  font-size: 62.5%;
  color: #787878;
  font-family: "Times New Roman", Times, serif;
}

body, p, h1, h2, div, ul {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2c2c2c;
  font-size: 1.4rem;
}

.bloc-page {
  background-color: white;
}
@media screen and (min-width: 1024px) {
  .bloc-page {
    height: 1132px;
    width: 803px;
  }
}

p {
  padding: 1rem 0;
}

a {
  color: #009c00;
  font-weight: bold;
  text-decoration: none;
  font-family: sans-serif, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
}

header {
  position: relative;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 3px #b4b4b4 solid;
}
@media screen and (min-width: 768px) {
  header {
    line-height: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.heading-title {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo {
  display: none;
}
@media screen and (min-width: 768px) {
  .photo {
    display: block;
    position: absolute;
    top: 8%;
    left: 2%;
    width: 20%;
    height: 84%;
    background-color: #9b9b9b;
  }
}
.photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.photo-mobile {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: -1;
  opacity: 0;
  transform: translateY(-22px);
  right: 0;
  left: 0;
  transition: transform 0.2s, opacity 0.2s;
}
.photo-mobile div {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  border: 4px #f2f2f2 solid;
  overflow: hidden;
}
.photo-mobile div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.btn-close {
  position: absolute;
  top: 0;
  right: 10%;
  padding: 0.5rem;
  background-color: #ffffff;
  border: 1px #707070 solid;
  border-radius: 5px;
}

#btn-photo {
  margin-top: 1rem;
}

.actif {
  opacity: 1;
  transform: translateY(50px);
  transition: transform 0.3s ease-out, opacity 0.3s;
}

.photo-profil {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
}
@media screen and (min-width: 768px) {
  .photo-profil {
    display: none;
  }
}

.name {
  font-size: 3.4rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
  color: black;
}

.post {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.coordinates {
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: unset;
  }
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 3px 3px 10px 3px #a0a0a0;
  background-color: #f2f2f2;
  border-radius: 3rem;
  width: 85%;
}
@media screen and (min-width: 768px) {
  aside {
    box-shadow: unset;
    border-right: 3px #b4b4b4 solid;
    width: 30%;
  }
}

.gutters {
  margin: 3rem 0;
  width: 100%;
}

.journey {
  padding: 2rem 2rem;
}
@media screen and (min-width: 768px) {
  .journey {
    width: 70%;
    padding: 3rem 3rem;
  }
}

#presentation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 2rem 2rem;
}
@media screen and (min-width: 768px) {
  #presentation {
    padding: 3rem 5rem;
  }
}

.title {
  color: black;
  margin-bottom: 1rem;
}

.text {
  margin-left: 2rem;
}

span {
  color: black;
  font-weight: bold;
}

.experience-post {
  color: #009c00;
}

.bloc-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.bloc-list ul {
  margin-left: 4rem;
  width: 50%;
}

li {
  margin: 0.6rem 0;
}

#tools {
  padding-left: 6rem;
}

.tools-title {
  text-align: center;
  padding: 0 3rem;
}

.tools-list {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
